# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/.venv
*/__pycache__
*/__pycache__



todo
back-end/hp.json
back-end/hp.obo
back-end/hpo_chroma_db/
back-end/hpo_whoosh_db/
*/.api_key

back-end/app.log
back-end/nohup.out
back-end/rag_evaluation_query_results.json
back-end/rag_evaluation/rag_evaluation_query_results.json
back-end/rag_evaluation/hpo_chroma_db/chroma.sqlite3
back-end/rag_evaluation/rag_evaluation_query_results_top1_default.json
back-end/rag_evaluation/rag_evaluation_query_results_top5_default.json
back-end/rag_evaluation/nohup.out
back-end/rag_evaluation/rag_evaluation_query_results_top1_whoosh.json
.vscode/launch.json
hpo_chroma_db/chroma.sqlite3
back-end/rag_evaluation/rag_evaluation_query_results_top5_text-embedding-3-small.json
back-end/chroma.log
