# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
*/.venv
*/__pycache__
*/__pycache__



todo
back-end/hp.json
back-end/hp.obo
back-end/hpo_chroma_db/
*/.api_key

back-end/app.log
back-end/nohup.out
